name: Build Chomagerie

on:
    push:
        branches:
            - "**"
    pull_request:
    workflow_dispatch:
        inputs:
            platform:
                description: 'Platform to build for'
                required: true
                default: 'fabric'
                type: choice
                options:
                    - fabric
            releaseType:
                description: 'Release type'
                required: true
                default: 'stable'
                type: choice
                options:
                    - stable
                    - beta
                    - alpha

jobs:
    build:
        runs-on: ubuntu-latest

        permissions:
            contents: write

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4

            -   name: Setup JDK 21
                uses: actions/setup-java@v4
                with:
                    distribution: adopt
                    java-version: 21

            -   name: Setup Gradle
                uses: gradle/actions/setup-gradle@v4
                with:
                    gradle-home-cache-cleanup: true
                    cache-read-only: true

            -   name: Validate Gradle Wrapper Integrity
                uses: gradle/actions/wrapper-validation@v4

            -   name: Grant execute permission for gradlew
                run: chmod +x gradlew

            -   name: Gradle Build
                env:
                    RELEASE_WORKFLOW: true
                    PLATFORM: ${{ inputs.platform || 'fabric' }}
                run: ./gradlew build

            -   name: Set environment variables
                run: |
                    echo "MINECRAFT_VERSION=$(./gradlew -q printMinecraftVersion)" >> $GITHUB_ENV
                    echo "MOD_VERSION=$(./gradlew -q printModVersion)" >> $GITHUB_ENV

            -   name: Upload Build Artifacts
                uses: actions/upload-artifact@v4
                with:
                    name: Chomagerie-Mod
                    path: build/libs/*.jar

            # ============================
            # RELEASE (MASTER ONLY)
            # ============================

            -   name: Set Release Name
                if: github.event_name == 'push' && github.ref == 'refs/heads/master'
                run: |
                    echo "RELEASE_NAME=Chomagerie $MOD_VERSION for Minecraft $MINECRAFT_VERSION Fabric" >> $GITHUB_ENV

            -   name: Create GitHub Release
                if: github.event_name == 'push' && github.ref == 'refs/heads/master'
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                run: |
                    gh release delete mc${MINECRAFT_VERSION}-${MOD_VERSION} --yes || true
                    
                    IS_PRERELEASE=false
                    if [[ "$MOD_VERSION" == *"SNAPSHOT"* ]] || [[ "$MOD_VERSION" == *"alpha"* ]] || [[ "$MOD_VERSION" == *"beta"* ]]; then
                      IS_PRERELEASE=true
                    fi
                    
                    gh release create mc${MINECRAFT_VERSION}-${MOD_VERSION} \
                      --title="$RELEASE_NAME" \
                      --notes-file=CHANGELOG.md \
                      --target=master \
                      --draft=false \
                      --prerelease=$IS_PRERELEASE \
                      build/libs/*[!sources].jar
