name: Release GH+MR+CF
permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      releaseType:
        type: choice
        description: Release Type
        options:
          - stable
          - beta
          - alpha

jobs:
  build:
    runs-on: ubuntu-latest
    environment: Publishing
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-home-cache-cleanup: true
          cache-read-only: true

      - name: Validate Gradle Wrapper Integrity
        uses: gradle/actions/wrapper-validation@v4

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Gradle Release Build
        env:
          RELEASE_WORKFLOW: true
        run: ./gradlew build

      - name: Set environment variables for the script below
        run: |
          echo "MINECRAFT_VERSION=$(./gradlew -q printMinecraftVersion)" >> $GITHUB_ENV
          echo "MOD_VERSION=$(./gradlew -q printModVersion)" >> $GITHUB_ENV

      - name: Set Release Name
        id: set_release_name
        run: |
          echo "RELEASE_NAME=Chomagerie $MOD_VERSION for Minecraft $MINECRAFT_VERSION" >> $GITHUB_ENV

      - name: Replace placeholders in CHANGELOG.md
        if: hashFiles('CHANGELOG.md') != ''
        run: |
          sed -i 's/_ReleaseTag_/mc${{ env.MINECRAFT_VERSION }}-${{ env.MOD_VERSION }}/g' CHANGELOG.md
          sed -i 's/_MCVersion_/${{ env.MINECRAFT_VERSION }}/g' CHANGELOG.md
          sed -i 's/_ModVersion_/${{ env.MOD_VERSION }}/g' CHANGELOG.md

      - name: Trim CHANGELOG.md
        if: hashFiles('CHANGELOG.md') != ''
        run: |
          trimmed_changelog=$(awk '/----------/{flag=1;next}flag' CHANGELOG.md)
          echo "$trimmed_changelog" > CHANGELOG.md

      - name: Create GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create mc${{ env.MINECRAFT_VERSION }}-${{ env.MOD_VERSION }} \
            --title="${{ env.RELEASE_NAME }}" \
            $([[ -f CHANGELOG.md ]] && echo "--notes-file=CHANGELOG.md" || echo "--notes=''") \
            --target=${{ github.ref_name }} \
            --draft=false \
            --prerelease=${{ inputs.releaseType != 'stable' }} \
            build/libs/*-[!s]*.jar LICENSE.txt 2>/dev/null || echo "Release already exists"

#      - name: Publish to Modrinth
#        env:
#          MODRINTH_API_KEY: ${{ secrets.MODRINTH_API_KEY }}
#          RELEASE_TYPE: ${{ inputs.releaseType }}
#        run: ./gradlew modrinthPublish

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Chomagerie-Mod-${{ env.MOD_VERSION }}
          path: "build/libs/*-[!s]*.jar"
